* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(100vw * 10 / 1920);
  font-family: Arial, Helvetica, sans-serif;

  body {
    main {
      max-width: 144rem;
      padding: 3rem;
      margin: auto;
      height: 80vh;

      > .button-wrapper {
        display: flex;
        justify-content: flex-end;
        gap: 2rem;

        > button {
          cursor: pointer;
          background: linear-gradient(
            50.97deg,
            hsl(233.747, 100%, 64%) -19.81%,
            hsl(220.833, 95%, 67%) 57.52%
          );
          border-radius: 0.5rem;
          color: #ffffff;
          transform: scale(1.2);
          border: none;
        }
      }

      > .box-wrapper {
        overflow: hidden;
        margin-top: 5vh;
        height: 100%;

        > .box-inner-wrapper {
          display: flex;
          gap: 2rem;
          height: 100%;
          width: 120%;
          transform: translateX(-8.5%);
          transition: all 0.35s linear;

          > .box {
            border-radius: 2rem;
            background: linear-gradient(
              50.97deg,
              hsl(233.747, 100%, 64%) -19.81%,
              hsl(220.833, 95%, 67%) 57.52%
            );
            height: 99%;
            cursor: pointer;
            width: 10%;
            transition: all 0.35s linear;
            position: relative;

            > p {
              font-size: 4rem;
              color: #ffffff;
              position: absolute;
              top: 2rem;
              left: 2rem;
              opacity: 0;
              transition: all 0.2s linear;
            }

            &.in-view {
              width: 15%;
              transition: all 0.35s linear;

              &.hover {
                width: 19.5%;
                transition: all 0.35s linear;
              }

              &.active {
                width: 100%;
                transition: all 0.35s linear;

                > p {
                  opacity: 1;
                  transition: all 0.5s linear;
                }

                &.active-hover {
                  width: 95.5%;
                  transition: all 0.35s linear;
                }
              }
            }
          }
        }
      }
    }
  }
}
